<!-- bottom nav -->
<nav class="navbar sticky-bottom bg-success justify-content-evenly">
    <div class="">
        <a class="btn btn-dark" href="../main.html" role="button">Home</a>
    </div>
    <div class="">
        <button type="button" class="btn btn-dark">Goals</button>
    </div>
    <div class="">
        <button type="button" class="btn btn-dark">Groceries</button>
    </div>
    <div class="">
        <a class="btn btn-dark" href="../meals_path/meals_01.html" role="button">Meals</a>
    </div>
</nav>