<nav class="navbar navbar-expand-lg navbar-light bg-success">

    <a class="navbar-brand" href="#">
        <img src="../images/tree.png" alt="logo" style="width: 30px;">
        Nutritracker
    </a>
    <input class="form-control mr-5 mr-sm-2 w-25" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-dark my-sm-0" type="submit">Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
</nav>